/* ==========================================================================
   PRICING PLANS
   ========================================================================== */

.c-plan {
  padding-bottom: size(4);
  margin-bottom: size(4);
  border-bottom: 1px solid color(decorator, div);
}

.c-plan__title,
.c-plan__name,
.c-plan__renewal {
  margin: 0;
}



.c-plan__name {
  @include type-scale(1);
  color: color(theme, freelancer);
}



.c-plan__renewal {
  @include type-scale(-2, 0);
  display: block;
  font-style: italic;
}



.c-plan__price {
  @include type-scale(11);
  position: relative;
  display: block;
  padding-left: size(2);
  margin-top: size(3);
  margin-bottom: size(3);
  font-weight: 700;
  line-height: 1;
  color: color(theme, freelancer);

  &:before,
  &:after {
    @include type-scale(1);
    font-weight: 300;
    position: absolute;
  }

  &:before {
    content: '$';
    top: size(1);
    left: 0;
  }

  &:after {
    content: '/year';
    bottom: size(1);
  }
}



.c-plan__features {
  margin: size(3) 0;
}

.c-plan__feature {
  list-style: none;
  margin: 0;

  .c-icon {
    margin-right: size(1);
  }
}

.c-plan__upgrade {}

.c-plan__link {
  @include type-scale(-1);
  display: block;
  font-weight: bold;
  color: color(theme, freelancer);
}
