<nav class="c-nav">

  <figure class="c-nav__logo">
    <img class="c-nav__img" src="./images/logo.png" />
  </figure>

  <ul class="c-nav__list">
    <li class="c-nav__item"><a class="c-nav__link" href="#download">Download</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#learn-more">Learn more</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#pricing">Pricing</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#help">Help</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#account">Account</a></li>
  </ul>

</nav>
